<!-- Content -->
<div class="span12">
  <!-- FAQ -->
  <div class="faq">
    <div class="row">
      <!-- Tentang Jalin Suara -->
      <div class="span8">
        <!-- FAQ hero -->
        <div class="hero">
          <h3><span>Tentang Jalin Suara</span></h3>
        </div>
        <!-- End of FAQ hero -->

        <div class="accordion" id="accordion2">
          <!-- First Accordion -->
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <!-- Title. Don't forget the <i> tag. -->
                <h5><i class="icon-plus"></i> Apakah Jalin Suara?</h5>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <!-- Para -->
                <p>JalinSuara merupakan portal berbasis internet yang menyajikan kekayaan informasi PNPM Mandiri mulai dari tingkat lokal hingga ke tingkat nasional sebagai salah satu upaya untuk mendorong transparansi dan akuntabilitas program.</p>
              </div>
            </div>
          </div>

          <!-- Second Accordion -->
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h5><i class="icon-plus"></i> Bagaimana Berperan serta dalam Jalin Suara?</h5>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>Melalui JalinSuara, para pelaku PNPM Mandiri dapat berbagi cerita dan pengalaman unik mereka terkait pelaksanaan program di wilayahnya masing-masing.</p>
                <p>Masyarakat umum dapat memberikan tanggapan, komentar, kritik dan saran pada setiap cerita yang telah ditampilkan oleh para pelaku PNPM.</p>
                <p>JalinSuara juga akan berfungsi sebagai media bagi para pemangku kepentingan dan pembuat keputusan baik di tingkat lokal maupun nasional untuk mengetahui apa yang terjadi dalam pelaksanaan program, sehingga dapat menjadi pertimbangan dan perhatian dalam menetapkan kebijakan lebih lanjut.</p>
                <p>JalinSuara juga tersedia dalam format mobile application. Silahkan unggah di sini (link untuk download mobile apps)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Tentang Jalin Suara -->

      <!-- Tentang PNPM Mandiri -->
      <div class="span8">
        <!-- FAQ hero -->
        <div class="hero">
          <h3><span>Tentang PNMPM Mandiri</span></h3>
        </div>
        <!-- End of FAQ hero -->

        <div class="accordion" id="accordion2">
          <!-- First Accordion -->
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <!-- Title. Don't forget the <i> tag. -->
                <h5><i class="icon-plus"></i> Apakah PNPM Mandiri?</h5>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse in">
              <div class="accordion-inner">
                <!-- Para -->
                <p>Program nasional PemberdayaanMasyarakat (PNPM) Mandiri merupakan program nasional dalam wujud kerangka kebijakan sebagai dasar dan acuan pelaksanaan program-program penanggulangan kemiskinan berbasis pemberdayaan masyarakat.</p>
                <p>PNPM Mandiri diluncurkan pada tahun 2007 sebagai salah satu dari program-program utama penanggulangan kemiskinan yang dijalankan Pemerintah Indonesia. Diawali dengan dikembangkannya PNPM Mandiri melalui beberapa program percontohan (pilot) skala kecil, saat ini PNPM Mandiri telah menjangkau seluruh kecamatan di Indonesia berjumlah 6.752  melalui empat program inti: PNPM Perdesaan, PNPM Perkotaan, Pengembangan Infrastruktur Sosial dan Ekonomi Wilayah (PISEW) dan Program pengembangan Infrastruktur Perdesaan (PPIP).</p>
                <p>PNPM Mandiri bertujuan meningkatkan kesejahteraan dan kesempatan kerja masyarakat miskin secara mandiri dengan cara menciptakan atau meningkatkan kapasitas masyarakat – baik secara individu maupun berkelompok dalam memecahkan berbagai persoalan terkait upaya peningkatan kualitas hidup, kemandirian serta kesejahteraan hidup dengan memanfaatkan potensi ekonomi dan sosial yang mereka miliki melalui proses pembangunan secara mandiri.</p>
              </div>
            </div>
          </div>
          <!-- End of First Accordion -->
        </div>
      </div>
      <!-- End of Tentang PNPM Mandiri -->

      <!-- Tentang PNPM Support Facility -->
      <div class="span8">
        <!-- FAQ hero -->
        <div class="hero">
          <h3><span>Tentang PNPM Support Facility</span></h3>
        </div>
        <!-- End of FAQ hero -->

        <div class="accordion" id="accordion2">
          <!-- First Accordion -->
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <!-- Title. Don't forget the <i> tag. -->
                <h5><i class="icon-plus"></i> Apakah PNPM Support Facility?</h5>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>PSF adalah sebuah wadah yang dibentuk oleh Pemerintah Indonesia dan beberapa lembaga donor untuk mendukung Pemerintah dalam mengelola dan mengkoordinasikan pelaksanaan Program Nasional Pemberdayaan Masyarakat  (PNPM) Mandiri. Kegiatan-kegiatan yang didukung PSF diputuskan oleh suatu Joint Management Committee yang diketuai oleh Bappenas dan Bank Dunia sebagai wakil, dengan keanggotaan terdiri dari wakil–wakil Pemerintah Indonesia lainnya (Menko Kesra, Kemenkeu) dan lembaga donor yang berkontribusi paling sedikit US$ 1 juta untuk Multi Donor Trust Fund (Dana Perwalian) PSF. Bank Dunia telah dipercaya pemerintah untuk bertindak sebagai administrator PSF dan Sector Manager dari Social Development Unit Bank Dunia bertindak sebagai Kepala Administrator/ Koordinator PSF.</p>
                <p>Melalui PSF, Pemerintah Indonesia dapat memanfaatkan sumberdaya dari donor anggota untuk mendukung penanggulangan kemiskinan berbasis pemberdayaan masyarakat.</p>
              </div>
            </div>
          </div>
          <!-- End of First Accordion -->
        </div>
      </div>
      <!-- End of PNPM Support Facility -->
    </div>
  </div>
  <!-- End of FAQ -->
</div>