<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Cakupan Jalin Suara</li>
    </ul>
    <div style="font-size: 12px; margin-left: 15px;">Propinsi: <%= link_to(@provinces.size, provinces_path) %></div>
    <div style="font-size: 12px; margin-left: 15px;">Kabupaten: <%= link_to(@districts.size, districts_path) %></div>
    <div style="font-size: 12px; margin-left: 15px;">Kecamatan: <%= link_to(@subdistricts.size, subdistricts_path) %></div>
    <div style="font-size: 12px; margin-left: 15px;">Sub Proyek: <%= link_to(@activities.size, activities_path) %></div>
    <ul class="nav nav-list">
      <li class="divider"></li>
      <li class="nav-header">Cakupan PNPM Mandiri</li>
      <li style="font-size: 12px;">Propinsi: 33</li>
      <li style="font-size: 12px;">Kecamatan: 6.752</li>
      <li style="font-size: 12px;">Total Dana Bantuan Langsung Masyarakat: 9,7 Triliun Rupiah</li>
      <li style="font-size: 12px;">Total Dana APBN: 8,9 Triliun Rupiah</li>
      <li style="font-size: 12px;">Total Dana APBD: 8 Miliar Rupiah</li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <h5>Tentang Jalin Suara</h5>

      <hr/>

      <h6>Apakah Jalin Suara?</h6>
      <p>JalinSuara merupakan portal berbasis internet yang menyajikan kekayaan informasi PNPM Mandiri mulai dari tingkat lokal hingga ke tingkat nasional sebagai salah satu upaya untuk mendorong transparansi dan akuntabilitas program.</p>

      <h6>Bagaimana Berperan serta dalam Jalin Suara?</h6>
      <p>Melalui JalinSuara, para pelaku PNPM Mandiri dapat berbagi cerita dan pengalaman unik mereka terkait pelaksanaan program di wilayahnya masing-masing.</p>
      <p>Masyarakat umum dapat memberikan tanggapan, komentar, kritik dan saran pada setiap cerita yang telah ditampilkan oleh para pelaku PNPM.</p>
      <p>JalinSuara juga akan berfungsi sebagai media bagi para pemangku kepentingan dan pembuat keputusan baik di tingkat lokal maupun nasional untuk mengetahui apa yang terjadi dalam pelaksanaan program, sehingga dapat menjadi pertimbangan dan perhatian dalam menetapkan kebijakan lebih lanjut.</p>

      <p>JalinSuara juga tersedia dalam format mobile application. Silahkan unggah di sini (link untuk download mobile apps)</p>

      Facebook:  jalin-suara<br/>
      Twitter: @jalinsuara<br/>
      Email: jalinsuara@gmail.com<br/>

      <hr/>

      <h6>Apakah PNPM Mandiri?</h6>
      <p>Program nasional PemberdayaanMasyarakat (PNPM) Mandiri merupakan program nasional dalam wujud kerangka kebijakan sebagai dasar dan acuan pelaksanaan program-program penanggulangan kemiskinan berbasis pemberdayaan masyarakat.</p>
      <p>PNPM Mandiri diluncurkan pada tahun 2007 sebagai salah satu dari program-program utama penanggulangan kemiskinan yang dijalankan Pemerintah Indonesia. Diawali dengan dikembangkannya PNPM Mandiri melalui beberapa program percontohan (pilot) skala kecil, saat ini PNPM Mandiri telah menjangkau seluruh kecamatan di Indonesia berjumlah 6.752  melalui empat program inti: PNPM Perdesaan, PNPM Perkotaan, Pengembangan Infrastruktur Sosial dan Ekonomi Wilayah (PISEW) dan Program pengembangan Infrastruktur Perdesaan (PPIP).</p>
      PNPM Mandiri bertujuan meningkatkan kesejahteraan dan kesempatan kerja masyarakat miskin secara mandiri dengan cara menciptakan atau meningkatkan kapasitas masyarakat – baik secara individu maupun berkelompok dalam memecahkan berbagai persoalan terkait upaya peningkatan kualitas hidup, kemandirian serta kesejahteraan hidup dengan memanfaatkan potensi ekonomi dan sosial yang mereka miliki melalui proses pembangunan secara mandiri.</p>
      Website: http://pnpm-mandiri.org<br/>
      Email: info@pnpm-mandiri.org<br/>
      Twitter: @pnpm_mandiri<br/>

      <hr/>

      <h6>PNPM Support Facility (PSF)</h6>
      <p>PSF adalah sebuah wadah yang dibentuk oleh Pemerintah Indonesia dan beberapa lembaga donor untuk mendukung Pemerintah dalam mengelola dan mengkoordinasikan pelaksanaan Program Nasional Pemberdayaan Masyarakat  (PNPM) Mandiri. Kegiatan-kegiatan yang didukung PSF diputuskan oleh suatu Joint Management Committee yang diketuai oleh Bappenas dan Bank Dunia sebagai wakil, dengan keanggotaan terdiri dari wakil–wakil Pemerintah Indonesia lainnya (Menko Kesra, Kemenkeu) dan lembaga donor yang berkontribusi paling sedikit US$ 1 juta untuk Multi Donor Trust Fund (Dana Perwalian) PSF. Bank Dunia telah dipercaya pemerintah untuk bertindak sebagai administrator PSF dan Sector Manager dari Social Development Unit Bank Dunia bertindak sebagai Kepala Administrator/ Koordinator PSF.</p>
      <p>Melalui PSF, Pemerintah Indonesia dapat memanfaatkan sumberdaya dari donor anggota untuk mendukung penanggulangan kemiskinan berbasis pemberdayaan masyarakat.</p>
      Website: http://pnpm-support/org, http://www.psf-library.org<br/>
      Email: info@pnpm-support.org<br/>
      Twitter:@ pnpm_support<br/>
    </div>
  </div>
</div>
<!-- End of Main Content -->