<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Cakupan</li>
        <li style="font-size: 12px;">Propinsi: 12</li>
        <li style="font-size: 12px;">Kabupaten: 123</li>
        <li style="font-size: 12px;">Kecamatan: 1234</li>
        <li style="font-size: 12px;">Desa: 12345</li>
        <li class="divider"></li>
        <li class="nav-header">Dana</li>
        <li style="font-size: 12px;">Kegiatan: 12</li>
        <li style="font-size: 12px;">Bantuan Langsung Masyarakat: 123</li>
        <li style="font-size: 12px;">APBD: 1234</li>
        <li style="font-size: 12px;">Swadaya Masyarakat: 12345</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="main-content">
      <div class="well">
        <%= gmaps4rails(@json) %>
        <% @activities.each do |activity| %>
          <div class="content-heading"><h5><%= link_to activity.name, activity_path(activity) %> &nbsp </h5></div>
          <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <div style="clear:both"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Komentar Terbaru</li>
        <li style="font-size: 12px;">Kegiatan: 12</li>
        <li style="font-size: 12px;">Bantuan Langsung Masyarakat: 123</li>
        <li style="font-size: 12px;">APBD: 1234</li>
        <li style="font-size: 12px;">Swadaya Masyarakat: 12345</li>
      </ul>
    </div>
  </div>
</div>