<div class="row">
  <div class="span3">
    <div class="well">
      <h5>Tautan</h5>
      <ul>
        <li><a href="#">Tentang Jalin Suara</a></li>
        <li><a href="#">Tentang PNPM Mandiri</a></li>
        <li><a href="#">Tentang PSF</a></li>
      </ul>
    </div>
    <div class="well">
      <h5>Cakupan</h5>
      <ul>
        <li>Propinsi: 12</li>
        <li>Kabupaten: 123</li>
        <li>Kecamatan: 1234</li>
        <li>Desa: 12345</li>
      </ul>
    </div>
    <div class="well">
      <h5>Dana</h5>
      <ul>
        <li>Kegiatan: 12</li>
        <li>Bantuan Langsung Masyarakat: 123</li>
        <li>APBD: 1234</li>
        <li>Swadaya Masyarakat: 12345</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="main-content">
      <div class="well">
        <%= gmaps4rails(@json) %>
        <% @activities.each do |activity| %>
          <div class="content-heading"><h5><%= link_to activity.name, activity_path(activity) %> &nbsp </h5></div>
          <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <div style="clear:both"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="well">
      Right Column
    </div>
  </div>
</div>