<div class="span12">
  <!-- Content -->
  <div class="row">
    <!-- Main Content -->
    <div class="span12">
      <div class="support-page">
        <h2>Upload Excel</h2>
        <br />
        <%= render :partial => 'excel_files/form' %>
      </div>
    </div>
  </div>
</div>