<div>
  <%= paginate comments %>
</div>

<% unless comments.empty? %>
  <ul class="comment-list">
    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
  </ul>
<% else %>
	<div id="no_comments">Belum ada komentar</div>
<% end %>

<div>
  <%= paginate comments %>
</div>
