<div class="span9">
  <div class="main-content">
    <div class="well">
      <%- model_class = District -%>
      <div class="page-header">
        <h4>Edit Kabupaten/Kotamadya</h4>
      </div>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>