<!DOCTYPE html>
<html>
<head>
  <title>Jalin Suara</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Header -->
  <header>
    <div class="container">
      <div class="span4">
          <!-- Logo and site link -->
          <div class="logo">
             <h1><a href="/">Jalin Suara</a></h1>
          </div>
       </div>
    </div>
  </header>
  <!-- End of Header -->

  <!-- Navigation -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          Menu
        </a>
        <div class="nav-collapse collapse">
          <!-- Navigation Links -->
          <ul class="nav">
            <!-- Main menu -->
            <li><a href="/">Beranda</a></li>
            <li><a href="/provinces">Data Propinsi</a></li>
            <li><a href="/districts">Data Kabupaten</a></li>
            <li><a href="/subdistricts">Data Kecamatan</a></li>
            <li><a href="/activities">Data Sub Proyek</a></li>
            <li><a href="/posts">Cerita</a></li>
            <li><a href="/home/show_map">Peta Interaktif</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Daftar/Masuk<b class="caret"></b></a>
              <!-- Submenus -->
              <ul class="dropdown-menu">
                <li><a href="404.html">Daftar</a></li>
                <li><a href="comingsoon.html">Masuk</a></li>
                <li><a href="resume.html">Masuk dengan akun Facebook</a></li>
                <li><a href="sitemap.html">Masuk dengan akun Twitter</a></li>
              </ul>
            </li>            
          </ul>
          <!-- End of Navigation Links -->
        </div>
      </div>
    </div>
  </div>
  <!-- End of Navigation -->

  <!-- Content -->
  <div class="content">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>   
  <!-- End of Content-->

  <!-- Footer-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="span4">
           <!-- Widget 1 -->
           <div class="widget">
              <h4>Twitter</h4>
              <!-- Too add twitter widget, goto "js" folder and open "custom.js" file and search for the word "ashokramesh90". This is my twitter username. Just replace the word with your twitter username. You are done. -->
              <div class="tweet"></div>
           </div>
        </div>
        <div class="span4">
           <!-- widget 2 -->
           <div class="widget">
              <h4>Recent Posts</h4>
                 <ul>
                    <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                    <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                    <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
                 </ul>
           </div>
        </div>
        <div class="span4">
           <!-- Widget 3 -->
           <div class="widget">
              <h4>Categories</h4>
              <ul>
                 <li><a href="#">Condimentum</a></li>
                 <li><a href="#">Etiam at</a></li>
                 <li><a href="#">Fusce vel</a></li>
                 <li><a href="#">Vivamus</a></li>
                 <li><a href="#">Pellentesque</a></li>
              </ul>
           </div>
        </div>
      </div>
    </div>
  </footer> 
  <!-- End of Footer -->
</body>
</html>